body.dark {
  transition: .4s all ease;
  background-color: black;
}
body.dark .sticky-header{
  background-color: black !important;

}
body.dark header{
  background-color: black;
  color: white;
}
body.dark main{
  background-color: black;
  color: white;
}
body.dark main .wrapper-content .footer-content .group-button button{
  background-color: white;
  color: black;

}
body.dark section.section-about{
  background-color: white;
  color: black;
}
body.dark section.section-about .wrapper-about h2{
  color: rgb(0, 0, 0);
}
body.dark section.section-about .wrapper-about .content .wrapper-education{
  color: black;
}
